<option value="agility">{{localize "SWADE.AttrAgi"}}</option>
<option value="smarts">{{localize "SWADE.AttrSma"}}</option>
<option value="spirit">{{localize "SWADE.AttrSpr"}}</option>
<option value="strength">{{localize "SWADE.AttrStr"}}</option>
<option value="vigor">{{localize "SWADE.AttrVig"}}</option>